<!-- <div (click)="item.route()"
     *ngIf="isLink(item) && isFunction(item.route) && isFirsButton(item)"
     class="mat-focus-indicator ng-tns-c268-3 mat-raised-button mat-button-base mat-primary"
     style="margin-right: 1rem;"
     matRipple>
    <mat-icon class="ltr:-ml-1 rtl:-mr-1 ltr:mr-2 rtl:ml-2"
              svgIcon="mat:add"
              style="top: 0.4rem; position: relative;">
    </mat-icon>
    {{ item.label }}
</div>

<div *ngIf="isLink(item) && isFunction(item.route) && !isFirsButton(item)"
     (click)="item.route()"
      class="relative flex items-center cursor-pointer select-none rounded-full px-4 py-1 hover:bg-primary/10 trans-ease-out"
     matRipple>
  <div class="p-2 bg-primary/10 text-primary rounded-full ltr:mr-4 rtl:ml-4">
    <mat-icon class="block" svgIcon="mat:search"></mat-icon>
  </div>
  <p class="font-medium text-primary">{{ item.label }}</p>
</div> -->