<div class="text-center py-24 header">
    <div class="container">
      <h2 @fadeInUp class="display-2 mt-12 mb-8">Bonjour, comment pouvons-nous vous aider ?</h2>
      <div @fadeInUp
           class="border rounded-full bg-foreground py-2 ltr:pl-6 ltr:pr-3 rtl:pr-6 rtl:pl-3 text-secondary max-w-xl mx-auto border border-gray-200 flex items-center">
        <mat-icon class="flex-none" svgIcon="mat:search"></mat-icon>
        <input class="border-0 ltr:ml-4 rtl:mr-4 placeholder:text-secondary subheading-2 outline-none font-medium w-0 bg-foreground flex-auto"
               placeholder="Chercher un article..."
               type="text">
        <button class="rounded-full flex-none" color="primary" mat-flat-button type="button">Chercher</button>
      </div>
 
    </div>
  </div>

  <div class="py-24 px-gutter header">
    <h2 class="display-1 mt-0 mb-4 text-center">Vous avez des questions ?</h2>
    <h3 class="subheading-2 text-hint text-center max-w-lg mx-auto m-0">
      Appelez-nous à tout moment pour une ou envoyez-nous un mail pour répondre à tout vos questions.</h3>
  
    <div class="mt-16 max-w-3xl mx-auto grid grid-cols-1 sm:grid-cols-2 gap-6">
      <div class="text-center p-6 border rounded card p-6 relative hover:shadow-lg trans-shadow">
        <mat-icon class="text-hint icon-3xl" svgIcon="mat:phone_in_talk"></mat-icon>
        <h3 class="title mb-0 mt-4">06.58.48.50.12</h3>
        <h4 class="subheading-2 m-0 text-hint">Appelez-nous à tout moment pour une solution rapide</h4>
      </div>
  
      <div class="text-center p-6 border rounded card p-6 relative hover:shadow-lg trans-shadow">
        <mat-icon class="text-hint icon-3xl" svgIcon="mat:mail"></mat-icon>
        <h3 class="title mb-0 mt-4">admin@ziko.com</h3>
        <h4 class="subheading-2 m-0 text-hint">Envoyez-nous un mail pour résoudre votre problème</h4>
      </div>
    </div>
  </div>